body {
} 


textarea {
	
	width: 40em;
	height: 5em;

}

input {
	width: 20em;
	color: white;
	background-color: #ECF0F1;
	border: 0;
	background: none;
	box-shadow:none;
	border-radius: 0px;
}


#txt {

	margin-top: 10px;
	text-align: center;
	color: #2C3E50;

}

#theMovies{
	break-inside: avoid-column;

	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	margin-before: 0;
	margin-after: 0;
/*
	-moz-columns: 3;
	-webkit-columns: 3;
	columns: 3;


	display: grid; 
	grid-template-columns: 100px 100px 100px; 
	grid-gap: 10px ;*/
}
.moviesList{
	padding-top: 15;
	padding-bottom: 15;
	border: thin solid #BFBCBF;
	font-size: 25;
	text-align: center;
	margin: auto;
	margin-bottom: 15; 
	width: 600;
	/*	height: 60;*/
	break-inside: avoid-column;
}

#circle { 
	width: 100px; 
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;


	margin-left: 80%;
	margin-top: 40%;
	display: none;

} 
#theLights {

	color: white;
	font-family: arial;
	display: none;
}

#cont {
	color: white;
	font-family: arial;
	display: none;


}

#theEnd { 

	color: white;
	font: xx-large;
	font-family: arial;
	display: none;
	margin-left: 50%;
	margin-top: 20%;

}



.assignment {
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size: xx-large;
	/*width: 300px;
	height: 110px;*/
	background-color: #3498DB;
	color:#ECF0F1;
	/*	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0; */

	margin: auto;


}


